@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.wrapper {
    margin: 0 auto;
}

.main-header {
    font-family: 'Caveat Brush', cursive;
    font-size: 18px;
    color: #00bbd8;
    width: 95%;    
    margin: 0 auto;
    padding: 2px;
}

#map {
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid #00bbd8;
    border-bottom: 2px solid #00bbd8;
    width: 95%;    
}

.upload-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.adt {
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
}

table {
    font-size: 12px;
    width: 95%;
    margin: 0 auto;
}

