@font-face {
    font-family: Caveat Brush;
    src: url(../fonts/CaveatBrush-Regular.ttf);
   }

@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans-Regular.ttf);
   }

.wrapper {
    margin: 0 auto;
}

.main-header {
    font-family: 'Caveat Brush', cursive;
    font-size: 18px;
    color: #00bbd8;
    width: 95%;    
    margin: 0 auto;
    padding: 2px;
}

#map {
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid #00bbd8;
    border-bottom: 2px solid #00bbd8;
    width: 95%;    
}

.upload-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.adt {
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
}

table {
    font-size: 12px;
    width: 95%;
    margin: 0 auto;
}

ul {

    margin: 0 auto;
    margin-top: -2px;
    padding: 30px 0;
    list-style-type: none;
    border: 1px solid #00bbd8;
    background-color: #00bbd8;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0;
    margin-right: 30px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    font-family: 'PTSans';
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

ul li:hover {
    background-color: #ffffff;
    color: #00bbd8;
}