@font-face {
    font-family: Caveat Brush;
    src: url(../fonts/CaveatBrush-Regular.ttf);
}

@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans-Regular.ttf);
}

.wrapper {
    margin: 0 auto;
    position: fixed;
    z-index: 15;
    width: 100%;
    top: 0;
    background-color: #ffffff;
}

.main-header {
    font-family: "Caveat Brush", cursive;
    font-size: 16px;
    color: #00bbd8;
    margin: 0 auto;
    padding: 2px;
    padding-left: 25px;
}

#map {
    margin: 0 auto;
    padding: 3px;
    border-top: 2px solid #00bbd8;
    width: 95%;
}

.customs-count,
.customs-count-number {
    position: absolute;
    display: inline-block;
    padding: 5px 35px;
    padding-left: 50px;
    font-family: "PTSans";
    font-size: 16px;
    color: #ffffff;
}

.customs-count-number {
    padding-left: 145px;
}

.customs-count-number {
    left: 50px;
}

.customs-form {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.customs-form {
    margin: 0 auto;
    padding: 4px 0;
    list-style-type: none;
    background-color: #00bbd8;
    text-align: center;
    border-bottom: 3px solid #ffffff;
}

#table-footer {
    z-index: 10;
    position: absolute;
    top: 425px;
}

/* .customs-form::before {
    content: '';
    display: block;
    padding: 1px;
    border-top: 2px solid #ffffff;
}

.customs-form::after {
    content: '';
    display: block;
    padding: 1px;
    border-bottom: 2px solid #ffffff;
} */
.customs-form label {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 30px;
    padding: 0px 10px;
    height: 22px;
    border: 1px solid #ffffff;
    font-family: "PTSans";
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.customs-form input {
    display: none;
}

.customs-table {
    border-collapse: collapse;
    font-size: 12px;
    margin: 0 auto;
    font-family: "PTSans", cursive;
    width: 95%;
    /* margin-top: 500px; */
}

.customs-table td {
    text-align: center;
    border: 2px solid #00bbd8;
    padding: 5px;
}

.customs-table-red {
    border: 5px solid red;
}

/* .customs-table tr {
    border: 5px solid red;
} */
tr:nth-child(even) {
    background-color: #00bbd8;
}

.footer {
    position: fixed;
    bottom: 0;
    /* padding: 5px; */
    font-family: "PTSans", cursive;
    font-size: 12px;
    color: #ffffff;
    width: 100%;
    background-color: #00bbd8;
    border-top: 2px solid #ffffff;
}

.footer .version-title {
    display: block;
    text-align: right;
    padding-right: 20px;
    vertical-align: middle;
}

/* margin: 0 auto;
margin-top: -2px;
margin-bottom: 5px;
padding: 30px 0;
list-style-type: none;
border: 1px solid #00bbd8;
background-color: #00bbd8;
text-align: center; */
/*
.upload-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.adt {
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
}

ul,
.customs-btns {
    margin: 0 auto;
    margin-top: -2px;
    margin-bottom: 5px;
    padding: 30px 0;
    list-style-type: none;
    border: 1px solid #00bbd8;
    background-color: #00bbd8;
    text-align: center;
}

.customs-btns input {
    position: left;
}

ul .table-btn {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin: 0;
    margin-right: 30px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    font-family: "PTSans";
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

ul .table-btn:hover {
    background-color: #ffffff;
    color: #00bbd8;
}



/* .table-btn-active::after {
	z-index: -5;
	position: absolute;
	content: "";
	width: 45px;
	height: 45px;
	transform: rotate(135deg);
	top: 32%;
	left: 37%;
	background-color: #ffffff;
} */
/*